################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microservices-API-Gateway-JWT/.vs/Microservices-API-Gateway-JWT/FileContentIndex/9df1e208-d892-4020-9e83-e213888b8c16.vsidx
