################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microservices-API-Gateway-JWT/.vs/Microservices-API-Gateway-JWT/FileContentIndex/9df1e208-d892-4020-9e83-e213888b8c16.vsidx
/Microservices-API-Gateway-JWT/bin/Debug/net8.0
/Microservices-API-Gateway-JWT/.vs/Microservices-API-Gateway-JWT/config/applicationhost.config
*.v2
*.vsidx
/Microservices-API-Gateway-JWT/.vs/Microservices-API-Gateway-JWT/v17/.suo
*.json
*.cache
*.dll
/Microservices-API-Gateway-JWT/obj/Debug/net8.0/staticwebassets
*.exe
*.Up2Date
/Microservices-API-Gateway-JWT/obj/Debug/net8.0/Microservices-API-Gateway-JWT.AssemblyInfo.cs
/Microservices-API-Gateway-JWT/obj/Debug/net8.0/Microservices-API-Gateway-JWT.AssemblyInfoInputs.cache
*.BuildWithSkipAnalyzers
*.txt
*.cs
*.pdb
